
#a1{
    background-color: aqua;
}
 #a2{
     background-color: blueviolet;
 }
 #a3{
     background-color: crimson;
 }
 #a4{
     background-color: gold;
 }
 #a5{
     background-color: lightgreen;
 }
#a6{
    background-color: pink;
}
#a7{
    background-color: navy;
}